body{
  background-color: #ededed4d;
}
.navbar{
  padding-left: 20%;
}

.navbar-nav1{
  width:70%;
  height: auto;
  margin :auto;
}


.inset {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  box-shadow:
    inset 0 0 0 2px rgba(255,255,255,0.6), 
    0 1px 1px rgba(0,0,0,0.1);
  background-color: transparent !important;
  z-index: 999;
}

.inset img {
  border-radius: inherit;
  width: inherit;
  height: inherit;
  display: block;
  position: relative;
  z-index: 998;
}

.logo{

    height:  65px; 
    width: 18%;
    position: fixed;
      z-index: 10001;
    top: 0;
    left: 0;
    background-color: #346498;
    overflow-x: hidden;
  
}

.sidenav {
    padding-left: 0px;
    height: 100%;
    width: 18%;
    position: fixed;
    z-index: 10000;
    top: 0;
    left: 0;
    background-color: rgb(233,234,235,0.4);
    overflow-x: hidden;
    padding-top: 80px;    
}

.sidenav a{
      color: darkgrey;
      font-weight: 800;
      font-size: 20;
      z-index: 1000000;
      opacity: 1;
}

.sidenav a:hover{
  color: #0d52cb;
}


#active{
  color: darkblue;
}

.sidenav {
  color: black;
}

.list-group-item1{
  text-decoration: none;
  padding-left: 16px;
  color: grey;
}

.list-group-item2{
  text-decoration: none;
  padding-left: 22px;
  color: grey;
}

main{
  margin-left: 18%;
  padding-top: 20px;
  padding-left: 10px;
}

.container {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	margin-bottom: 1rem;
}

#pop{
	background-color: transparent;
	color: black;
	font-size:10;
}